h2 {
  font-family: Cambria,serif;
  font-size: 50px;
  color: #990000;
  position: absolute;
  top: 65px;
  /*centers the text for the absolute position */
  left: 0;
  right: 0;
  margin: auto;
}

#foods_image {
  width: 700px;
  border-style: inset;
  border-width: 10px;
  border-color: #F7C914;
  padding-top: 0px;
  position: relative;
  top: 80px;
}

#recipebox {
  width: 350px;
  margin: 0 auto 100px;
  padding-bottom: 20px;
  text-align: center;
  background: #990000;
  position: relative;
  top: 70px;
}
/* remove bullets for the recipe list*/
ul {
  padding: 20px 8px 20px;
  list-style-type: none;
}
/* remove underline and style font of recipes link text */
a {
  text-decoration: none;
  font-family: Palatino,serif;
  font-size: 20px;
  line-height: 150%;
  color: white;
}
